<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../minimal.css">
    <link rel="stylesheet" href="styles.css">
    <title>Logo</title>
</head>
<body>
    <div class="logo-container">
        <div class="logo">
            <a href="#" class="link"> 
                <img class="logo__icon" src="../../images/logo.svg" alt="">
            </a>
        </div>
        <h1 class="title">
            <a href="#" class="link">
                Online Store
            </a>
        </h1>
    </div>
</body>
</html>