<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=n, initial-scale=1.0">
    <link rel="stylesheet" href="../minimal.css">
    <link rel="stylesheet" href="../arrows.css">
    <link rel="stylesheet" href="styles.css">
    <title>Navigation</title>
</head>
<body>
    <nav class="nav">
        <a href="#" class="nav__link">
            <div class="home-icon">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 6.25L8.61984 1L16.2397 6.25V14.5C16.2397 15.3284 15.4816 16 14.5464 16H2.6933C1.75811 16 1 15.3284 1 14.5V6.25Z" stroke="#7E72F2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.68909 16V8H11.5505V16" stroke="#7E72F2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>  
            </div>  
        </a>
        <div class="arrows arrows_right"></div>
        <a href="#" class="nav__link">
            eCommerce
        </a>
        <div class="arrows arrows_right"></div>
        <a href="#" class="nav__link nav__link_current">
            Electronics
        </a>
    </nav>
</body>
</html>