<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../minimal.css">
    <link rel="stylesheet" href="styles.css">
    <title>Pagination</title>
</head>
<body>
    <nav class="page-navigation">
        <a class="page-navigation__page-link" id="prev-page"></a>
        <ul class="page-navigation__list">
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">1</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">2</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">3</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">4</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">5</a>
            </li>
            <li class="page-navigation__item page-navigation__item_current">
                <a href="#" class="page-navigation__page-link">6</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">7</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">8</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">9</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__page-link">10</a>
            </li>
        </ul>
        <a class="page-navigation__page-link" id="next-page"></a>
    </nav>
</body>
</html>