<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../minimal.css">
    <link rel="stylesheet" href="styles.css">
    <title>Search</title>
</head>
<body>
    <div class="search">
        <div class="search__header">
            <span class="search__text">7,618 results found</span>
            <button class="button button_small button_primary">
                <img class="button__icon" src="../../images/heart-white.svg" alt="">
            </button>
        </div>
        <div class="searchbar">
            <input class="searchbar__input" type="text" placeholder="Search">
            <img class="searchbar__icon" src="../../images/search.svg" alt="">
        </div>
    </div>
</body>
</html>