@use "./variables" as *;
@use "./mixins" as *;

.arrows {
    &::before,
    &::after {
        @include pseudo(6px);
    }

    &_right {
        &::before,
        &::after {
            border-right: 1px solid $font-color;
            border-top: 1px solid $font-color;
            transform: rotate(45deg);
            margin-right: 1px;
        }
    }

    &_left {
        &::before,
        &::after {
            border-left: 1px solid $font-color;
        border-top: 1px solid $font-color;
        transform: rotate(-45deg);
        bottom: 2px;
        }

        &::before {
            margin-right: 2px;
        }
    }

    &_down {
        &::before,
        &::after {
            display: block;
            border-right: 1px solid #2C2C2C;
            border-bottom: 1px solid #2C2C2C;
            transform: rotate(45deg);
            top: -2px;
            left: 60%;
        }
    }
}
