@use "./variables" as *;
@use "./mixins" as *;
@use "./media-mixins" as *;

.card {
    font-weight: 400;
    background: $bg-color-container;
    @extend %small-shadow;
    border-radius: 8px;
    max-width: 500px;
    overflow: hidden;

    &__inner {
        height: 419px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 20px 5px;
        position: relative;

        .button_show-colors {
            position: absolute;
            top: 20%;
            right: 10%;
        }

        @include mobile {
            height: 350px;
            padding: 10px 10px 5px;
        }
    }

    &__image {
        margin: auto;
        padding: 0 20px 30px;
        max-height: 65%;    

        img {
            max-width: 100%;
            height: 100%;
        }

        @include tablet {
            padding: 0 0 15px;
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; 
    }

    &__price {
        @include text(21px);
    }

    &__title {
        @include text(19px, "smaller");
        width: 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    &__description {
        @include text(14px, "subtext", "light");
        margin: 0; 
        padding-top: 3px;
    }

    &__button-group {
        margin-top: 20px;
        width: 100%;
        display: flex;

        @include tablet {
            margin-top: 5px;
        }
    }

    &__button {
        width: 100%;
        padding: 14px 10px;
        display: flex;
        justify-content: center;
        border-radius: 0;
        @include text(18px, "small", "bold");

        @include tablet {
            .button__text {
                font-size: 11px;
                line-height: 11px;
            }
        }
    }

    @include tablet {
        min-width: 255px;
    }
}

.rating {
    width: 65px;
    background-color: $primary-color;
    border-radius: 3px;
    padding: 6px;
    display: flex;
    justify-content: space-around;

    &__value {
        display: block;
        align-self: center;
        @include text(17px, "small");
        color: $primary-font-color;
    }
}
