@use "sass:map";
@use "./variables" as *;

.logo-container {
    padding: 0 5px;
    display: flex;
    margin-bottom: 1.75vh;
}

.logo {
    margin-right: 20px;
}

.title {
    font-size: map.get($logo-font-sizes, "regular");
    font-weight: map.get($font-weights, "bold");
    line-height: 27px;
    color: $primary-color;
    padding-top: 20px;
}