$mobile: 500px;
$tablet: 720px;
$desktop: 1200px;

@mixin desktop {
    @media screen and (max-width: $desktop){
        @content;
    }
}

@mixin sm-desktop {
    @media screen and (max-width: 1000px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet){
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile){
        @content;
    }
}