@use "./variables" as *;
@use "./mixins" as *;

.page-navigation {
    display: flex;
    justify-content: space-between;
    @include text(21px);
    letter-spacing: 4px;
    color: $font-color;
    max-width: 472px;
    margin: 0 auto;

    &__page-link {
        text-decoration: none;
        color: inherit;
        display: block;
        cursor: pointer;
    }

    &__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;
        border-radius: 20px;
        width: 75%;
    }

    &__item {
        &_current {
            display: block;
            background: $primary-color;
            color: $primary-font-color;
            @include box(40px);
            border-radius: 50%;
            padding: 10px 0 10px 2px;
            text-align: center;

            .page-navigation__page-link {
                @include disable-link;
            }

        }

        &:first-child {
            padding-left: 19px;
            
            &.page-navigation__item_current {
                padding-left: 2px;
            }
        }

        &:last-child {
            padding-right: 14px;

            &.page-navigation__item_current {
                padding-right: 0;
            }
        }

    }
}

#prev-page,
#next-page {
    @include box(40px);
    background: $secondary-color;
    border-radius: 50%;

    &:before {
        @include pseudo(7px);
        top: 8px;
        left: 15px;
    }
}

#prev-page:before {
    border-left: 2px solid $font-color;
    border-top: 2px solid $font-color;
    transform: rotate(-45deg);
}

#next-page:before {
    border-right: 2px solid $font-color;
    border-top: 2px solid $font-color;
    transform: rotate(45deg);
}