$font-stack: Montserrat, sans-serif;

$bg-color-app: #F9F9F9;
$bg-color-container: #FFFFFF;
$primary-color: #6F64F8;
$secondary-color: #EDEDED;
$font-color: #2C2C2C;
$primary-font-color: #FFFFFF;
$purple-font-color: #7E72F2;
$light-font-color: #999999;

$font-weights: ("light": 300, "regular": 400, "bold": 600);
$font-sizes: ("subtext": 12px, "small": 14px, "smaller": 16px, "regular": 18px, "bigger": 22px);
$logo-font-sizes: ("regular": 48px, "tablet": 36px, "mobile": 24px);